// .map-container {
// }

.map-frame {
    position: fixed;
    width: 100%;
    height: 100%;
}
#map{
    width: 100%;
    height: 90%;
    position: relative;
}


.menu-spacer {
  flex: 1 1 auto;
}

.btnStyle {
  cursor:pointer;
  background-color: #4D90FE;
  border-radius: 15px;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  color: #FFFFFF;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  width:28%
}