<div class="main-container">

  <div class="intro">

    <img src="../../assets/app-logo.png" class="logo" alt="">
    <h1>
      Zhichar | གཞིས འཆར།།
    </h1>
  </div>

  <div class="apps-container">
    <div class="app">
      <!-- <h2 class="title" (click)="goToHHSurveyDashboard()"> -->
      <h2 class="title" style="color: white;">

        MassTesting 
      </h2>
      <div>
        <form class="login-form" [formGroup]="loginForm" >
          <input type="text" placeholder="username"  formControlName="cid" />
          <input type="password" placeholder="password"  formControlName="password"/>
          <button (click)="login()">login</button>
        </form>
      </div>
    </div>
   
  </div>

  <!-- <div>
      <p>
      Developed by the National Zoning TaskForce with assistance from Department of Human Settlements, MoWHS.

      </p>
  </div> -->

</div>