<div class="form-wraper" >
    <div class="form-container card">
      <div class="form-header">
        <img src="../../assets/logo.svg"  class="main-lock-icon" alt="">
      </div>
      <div class="form-body">
        <form [formGroup]="loginForm">
          <mat-form-field class="justifier">
            <input matInput type="text" placeholder="CID Number" class="form-input" name="cid" formControlName="cid" [ngClass]="{ 'is-invalid': submitted && f.cid.errors }" required autofocus>
          </mat-form-field>
          <mat-form-field class="justifier">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" class="form-input" name="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.cid.errors }" required>
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div class="form-footer">
          <button mat-raised-button class="btn custom-btn" (click)="login()" color="primary" [disabled]="!loginForm.valid"><mat-icon>input</mat-icon> Login</button>
      </div>
    </div>
  </div>