
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
    </div>
    <div class="form-body">
      <form [formGroup]="zoneForm">
        <mat-form-field class="justifier">
          <mat-label>Select Zone</mat-label>
          <mat-select formControlName="subZoneControl" name="subZone" required>
            <mat-option *ngFor="let subZone of subZones" [value]="subZone.id">
              {{subZone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="submit()" color="primary" [disabled]="!zoneForm.valid">
        <mat-icon>arrow_forward</mat-icon> Proceed
      </button>
    </div>
    <div class="form-footer" *ngIf = "showSum">
      <button mat-raised-button class="btn custom-btn" (click)="showSummary()" >
        <mat-icon>arrow_forward</mat-icon>Summary 
      </button>
    </div>
  </div>
</div>


