<!-- 
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
    </div>
    <div class="form-body">
      <form [formGroup]="zoneForm">
        <mat-form-field class="justifier">
          <mat-label>Select Dzongkhag</mat-label>
          <mat-select #dzong formControlName="dzoControl" name="dzong" (selectionChange)="getZones(dzong.value)" required>
            <mat-option *ngFor="let dzo of dzongkhags" [value]="dzo.id">
              {{dzo.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="justifier">
          <mat-label>Select Zone</mat-label>
          <mat-select #zone formControlName="zoneControl" name="zone" (selectionChange)="getSubzones(zone.value)"  required>
            <mat-option *ngFor="let zone of zones" [value]="zone.id">
              {{zone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="justifier">
          <mat-label>Select Sub Zone</mat-label>
          <mat-select formControlName="subZoneControl" name="subZone"  required>
            <mat-option *ngFor="let subZone of subZones" [value]="subZone.id">
              {{subZone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="submit()" color="primary" [disabled]="!zoneForm.valid">
        <mat-icon>arrow_forward</mat-icon> Proceed
      </button>
    </div>
    <div class="form-footer" *ngIf = "showSum">
      <button mat-raised-button class="btn custom-btn" (click)="showSummary()" >
        <mat-icon>arrow_forward</mat-icon>Summary 
      </button>
    </div>
  </div>
</div>

 -->


 <div class="main-container">
  <div class="selectDzongkhag-container">
      <div class="selectDzongkhag-form">

          <p style="text-align: center;font-weight: 500;">
              Select Dzongkhag
          </p>

          <div class="dropdown-container">
              <div class="select-dropdown">
                  <select class="custom-select" [(ngModel)]="dzongkhagId" (change)="getZoneList(dzongkhagId)">
                      <option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id" > {{ dzongkhag.name }}
                      </option>
                  </select>
              </div>
          </div>
          <p style="text-align: center;font-weight: 500;">
              Select Zone
          </p>
          <div class="dropdown-container">
              <div class="select-dropdown">
                  <select class="custom-select" [(ngModel)]="zoneId" (change)="getSubZoneList(zoneId)" >
                      <option *ngFor="let zone of zones" [value]="zone.id"> {{ zone.name }}
                      </option>
                  </select>
              </div>
          </div>

          <p style="text-align: center;font-weight: 500;">
              Select SubZone
          </p>
          <div class="dropdown-container">
              <div class="select-dropdown">
                  <select class="custom-select" [(ngModel)]="subzoneId" >
                      <option *ngFor="let subzone of subzones" [value]="subzone.id" style="word-wrap: break-word;"> {{ subzone.name }}
                      </option>
                  </select>
              </div>
          </div>
      </div>
      <div class="button-container" (click)="submit()" >
          <button class="submit-button">
              <span>Proceed</span>
          </button>
      </div>
  </div>
</div>
